wallet.localhost:80 {
    proxy /api backend:4000 {
        websocket
        transparent
    }

    proxy /fakelnd backend:4000 {
        transparent
    }

    proxy / web-wallet:8080 {
        transparent
    }
}

pay.localhost:80 {
    proxy / backend:5000 {
        transparent
    }
}

splunk.localhost:80 {
    proxy / splunk:8000 {
        transparent
    }
}