bit-1.biluminate.net,
testwallet.biluminate.com {
    tls marian.schubert@gmail.com

    # New API
    proxy /api backend:4000 {
        transparent
    }

    # Fake LND
    proxy /fakelnd backend:4000 {
        transparent
    }

    # UI
    proxy / web-wallet:8080 {
        transparent
    }
}

testpay.biluminate.com {
    tls marian.schubert@gmail.com
    proxy / backend:5000 {
        transparent
    }
}

splunk.biluminate.com {
    basicauth / admin {$SPLUNK_PASSWORD}

    tls marian.schubert@gmail.com
    proxy / splunk:8000 {
        transparent
    }
}